body {
  background: url(/assets/modern-bg.jpg) no-repeat center;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 1.25rem;
  margin: 0;
}

.dialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999999;
}

ul {
  margin: 0;
  list-style: none;
}

.app {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 0;
}

.header_ul-wrapper {
  display: flex;
  gap: 4px;
}

.header_ul-wrapper button {
  padding: 4px 12px;
  background-color: black;
  color: white;
  border-radius: 4px;
}

.page-itme_body section {
  background-color: rgba(0, 0, 0, 0.5);
}

/* drag & drop */

/* 좋은방법은아님 */
.mute-children * {
  pointer-events: none;
}

.dragStarted {
  animation: drag_start 250ms;
  opacity: 0.2;
}

@keyframes drag_start {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.dropArea {
  border: 2px solid green;
}
